h1 {
    color: rgb(218, 216, 216);
    text-align: center;
}

.input-labels {
    color: white;
}

/* .inputs {
    align-content: center;
} */

.login-page {
    text-align: center;
}

.login-btn {
    padding-top: 14px;
    text-align: center;
}

form {
    padding-top: 10px;
}